<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ohserverless04-func.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/efa3f208-953e-41df-aa68-8924122a3f64/resourceGroups/hacker04-rg/providers/Microsoft.Web/sites/ohserverless04-func</ResourceId>
    <UserName>$ohserverless04-func</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://ohserverless04-func.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>